{
 "services": {
   "cloudantNoSQLDB": [
     {
       "credentials": {
         "username": "*****",
         "password": "*****",
         "host": "*****",
         "port": 443,
         "url": "https://*****"
       },
       "label": "cloudantNoSQLDB"
     }
   ]
 }
}
